$icon-font-path: "/bower_components/sass-bootstrap/fonts/";

@import 'sass-bootstrap/lib/bootstrap';
@import 'compass';

$main-txt-color: #333;
$main-bg-color: white;

body {
    padding-top: 20px;
    padding-bottom: 20px;
}

.header {
    .page-padding {
        padding: 0 15px;
    }
}


.sidebar {
    padding: 0px; // to avoid the double padding

    .profile {
        .profile-avatar {
            width: 150px;
            margin: 0 auto;
            overflow: hidden;
            @include border-radius(50%);
        }
        .profile-name {
            text-align: center;
        }
        .profile-location {
            text-align: center;
        }
        .panel-footer {
            div {
                text-align: center;
            }
        }
    }
}

.main {
    padding: 0px; // to avoid the double padding

    .compose-tweet {
        button {
        }
    }
}

.tweet {
  border-right: 4px solid $main-bg-color;
  border-left: 4px solid $main-bg-color;
  border-bottom: 1px solid $main-bg-color;
  // width: 682px;
  height: 150px;
  position: relative;
  z-index: 10;
   .tweet-header {
    padding-top: 35px;
   }
    .name {
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: bold;
      font-size: 20px;
      padding-right: 10px;
      color: $main-txt-color;
    }
    .location{
      font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
      font-weight: lighter;
      font-size: 15px;
      padding-right: 10px; 
      letter-spacing: 1px;
      color: $main-txt-color;
    }
   .avatar {
      overflow: hidden;
      width: 90px;
      height: 90px;
      margin: 25px;
      border-radius: 100%;
      float: left;
  }

  .avatar-pic {
    width: 90px;
  }
  
  .message {
    width: 419px;
    height: 67px;
    margin-top: 8px;
    font-size: 14px;
    letter-spacing: 1px;
    overflow-x: hidden;
  }
  .tweet-footer {
    position: absolute;
    right: 17px;
    bottom: 11px;
  }
    .isFavorite {
      width: 32px;
      bottom: -3px;
      right: 54px;
      position: absolute;
    }
}

.footer {
}

.profile-chooser { //this used to be the .search class 
          // border-left: 1px solid #B1B18A;
          // border-right: 1px solid #B1B18A;
          // float: right;
          // margin: 0px;
          // height: 40px;
          // width: 180px;
          // text-align: left;
          // color: rgba(15, 15, 15, 0.5);
          // cursor: pointer;

          &:hover {
            // background: gray;
          }

          .avatar {
            margin: 5px 15px;
            vertical-align: middle;
            display: inline-block;
            @include border-radius(50%);
            width: 30px;
            height: 30px;
            overflow: hidden;
            
            img {
              width: 30px;
            } // end of img

          } // end of .avatar

          ul {
            list-style-type: none;
            background: rgba(255, 255, 255, 0.9);
            padding: 5px 20px;
            margin-top: 1px;
            @include single-transition(all, 0.3s, ease-in-out);
            overflow: hidden;
            // height: 235px;

            &.hidden{
              // height: 0px;
              // opacity: 0;
            }

            li {
              margin-left: -5px;
              margin-top: 10px;
              margin-bottom: 10px;
              padding-bottom: 6px;
              border-bottom: 1px solid $main-txt-color;
              cursor: pointer;

              &:hover .chooser-name{
                color: #9ECC7A;
              }

              &:last-child {
                border-bottom: none;
              }

              .chooser-avatar {
                vertical-align: middle;
                display: inline-block;
                width: 30px;
                height: 30px;
                @include border-radius(50%);
                overflow: hidden;

                img {
                  width: 30px;
                }

              } // end of .chooser-avatar
              .chooser-name {
                margin-left: 10px;
                display: inline-block;
              } //end of .chooser-name

            } // end of li

          } // end of ul


        }  // end of .profile-chooser 
